<h2 mat-dialog-title>Add New Place</h2>

<div mat-dialog-content>
  <form #f="ngForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="name" matInput name="name" required/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="type" name="type" required style="text-transform: capitalize">
        <mat-option *ngFor="let type of types" [value]="type" style="text-transform: capitalize">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Latitude</mat-label>
      <input [(ngModel)]="lat" matInput name="lat" required type="number"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Longitude</mat-label>
      <input [(ngModel)]="lng" matInput name="lng" required type="number"/>
    </mat-form-field>

    <div align="end" mat-dialog-actions>
      <button [disabled]="f.invalid" mat-button type="submit">Save</button>
      <button (click)="cancel()" mat-button type="button">Cancel</button>
    </div>
  </form>
</div>
